ul {
list-style-type:none;
padding:0;
margin:10px;
}

img {
border-radius:15px;
}

li {
float:left;}

li a {
display:block;
padding:10px;
font-size:1.5em;
color:#490b09;
Background-color:white;}

li a:visited {
color: yellow;
}

li a:hover {
background-color:brown;
transform: scale(1,1);
transition-duration: 0.5s;
}

#About{
margin-top:1.3em;
clear:left;
}

h2 {
color:#490b09;
Padding-left:20px;
font-family:Courier New;
margin-bottom:0px;}


#imga{
padding-bottom:50px;
width:101.5%;
}

a{
display:block;
padding: 8px;
margin-bottom:10px;}


#Con {
Height:80%;
float:right;
Margin:10px;
Margin-right:50px;
margin-bottom:10px}

p {
text-align: justify;
width: 50%;
font-size:1.3em;
Padding-left:20px;
margin-top:0px;}

#one {
clear:left;}

hr {
border-top: 2px solid #490b09;}

#What2 {
margin:0;}

#more {
clear:left;
}

footer {
text-align: center;
position: sticky;
bottom:0;
background-color:white;
height: 27%;
}

.sprite{
margin-left:30%;
margin-right:10px;
float:left;
}

footer p{
width: 95%;
margin-top:35px;
margin-bottom:0px
}

body{
margin: 0px;
}

header div {
width: 100%;
}

header{
width: 100%;
}


i:only-child {
background-color:#a33b4c;
}